*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head1 {
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 100%;
    transition: 0.4s;
    border-bottom: none;
    z-index: 1000;
}

.logo img {
    margin-left: 10px;
    height: auto;
    width: 50px;
}

.navbar {
    margin-top: 20px;
    display: flex;
    margin-right: 10px;
    
}





.navbar a {
    color: #fff;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    background-color: transparent;
    transition:0.6s;
}

.navbar a:hover {
    color: #3f3f3f;
}





.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 80vh !important;
    background: url(img/las\ lenas.jpg) no-repeat center;
    background-size: cover;
}

.title  {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin: 20px;

}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background:#9c27b0 ;
    border-radius: 10px;
    transition: background 0.4s;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
    
   
}

.btn-home a{
    margin: 0 10px;
    
    
}

.content {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sau {
    padding: 30px;
    background:none ;
    background: #1f1d1d;
}


/*nueva parte deslizante en productos*/


.swiper {
    width: 100%;
    max-width: 1100px;
    height: 300px;
    position: relative;
    overflow: hidden;
    padding: 50px;
  }

.textoHover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    text-transform: uppercase;
    color: #1f1d1d;
    font-size: 20px;
    font-family: montserrat;
    font-weight: bold;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 1;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    position: relative;
    opacity: 1;
    border-radius: 10px;
    
    overflow: hidden;
  }
  .swiper-slide img {
    max-width: 130%;
    max-height: 200%;
    transition: opacity 0.3s ease;
    object-fit: cover;
   
  }
.swiper-slide:hover img{
    opacity: 0.5;
  }

.swiper-slide:hover .textoHover{
    opacity: 1;
}












.about {
    padding: 150px;
    background: #171717;
}

.price {
    background: url(img/jr5j.jpg) no-repeat center;
    background-size: cover;
    font-family: montserrat;
    
}
.contain p{
    color: #ffffff;
}

.contact {
    padding-top: 150px;
    background: #171717;
    padding-bottom: 0;

}

@media (max-width:768) {

    .title {
        margin-bottom:0 ;
        font-size: 40px;
    }
    .sau{
        height: 120vh;
    }
    .navbar {
        display: none;
    }
}
.map {
    margin-bottom: 150;
    padding: 50;
    border-radius: 20px;
}